PROBLEM 1

In [1]:
import pandas as pd

In [2]:
# a) Load CSV into DataFrame named cars
cars = pd.read_csv("http://bit.ly/Cars_file")

# b) Display the first five and last five rows
print("First 5 Rows")
print(cars.head())

print("\n Last 5 Rows")
print(cars.tail())

First 5 Rows
               Model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
0          Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
1      Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
2         Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
3     Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
4  Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3

   carb
0     4
1     4
2     1
3     1
4     2

 Last 5 Rows
             Model   mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  \
27    Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.9   1   1     5
28  Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.5   0   1     5
29    Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.5   0   1     5
30   Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.6   0   1     5
31      Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.6   1   1     4

    carb
27     2
28     4
29     6
30     8
31     2

PROBLEM 2

In [3]:
cars = pd.read_csv("http://bit.ly/Cars_file")

# a) First five rows with odd-numbered columns (1-indexed: 1,3,5,7…)
#In pandas (0-indexed), that is columns 0,2,4,6… via iloc and step 2.
print("First 5 rows, odd-numbered columns")
print(cars.iloc[:5, ::2])

# b) Row that contains Model == 'Mazda RX4' (label selection)
print("\nRow for Model == 'Mazda RX4'")
print(cars.loc[cars["Model"] == "Mazda RX4"])

# c) Cylinders of 'Camaro Z28'
print("\nCylinders of 'Camaro Z28'")
print(cars.loc[cars["Model"] == "Camaro Z28", ["Model", "cyl"]])

# d) cyl and gear for 'Mazda RX4 Wag', 'Ford Pantera L', 'Honda Civic'
print("\ncyl and gear for selected models")
sel = (cars["Model"] == "Mazda RX4 Wag") | (cars["Model"] == "Ford Pantera L") | (cars["Model"] == "Honda Civic")
print(cars.loc[sel, ["Model", "cyl", "gear"]])

First 5 rows, odd-numbered columns
               Model  cyl   hp     wt  vs  gear
0          Mazda RX4    6  110  2.620   0     4
1      Mazda RX4 Wag    6  110  2.875   0     4
2         Datsun 710    4   93  2.320   1     4
3     Hornet 4 Drive    6  110  3.215   1     3
4  Hornet Sportabout    8  175  3.440   0     3

Row for Model == 'Mazda RX4'
       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

Cylinders of 'Camaro Z28'
         Model  cyl
23  Camaro Z28    8

cyl and gear for selected models
             Model  cyl  gear
1    Mazda RX4 Wag    6     4
18     Honda Civic    4     4
28  Ford Pantera L    8     5